/* Goblal */
:root {
    --primary-color: #FF8500;
    --secondary-color: #FF8900;
    --dark-gray: #4b4e5c;
    --bdark-gray: #353741;
    --income: #12a454;
    --expense: #e92929;
    --light-expense: #f02020;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 93.75%; /* 16px */
}
body {
    background: #f0f2f5;
    font-family: "Roboto", sans-serif;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:  rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.container {
    width: min(90vw, 800px);
    margin: auto;
    margin-bottom: 7rem;
}

/* Titles */
h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--dark-gray);

    font-weight: 600;
}

/* Links and buttons */
a {
    color: var(--income);
    text-decoration: none;
    font-weight: 700;
}

a:hover {
    color: #1cd644;
}

button {
    width: 100%;
    height: 50px;

    border: none;
    color: white;

    background: var(--income);

    padding: 0;

    border-radius: 0.6rem;

    cursor: pointer;
}

button:hover {
    background: #1cd644;
}
.button.new {
    display: inline-block;
    margin-bottom: .8rem;
}

.button.cancel{
    color: var(--expense);
    border-radius:  0.6rem;
    border: 2px var(--expense) solid;
    height: 50px;

    display:flex;
    align-items: center;
    justify-content: center;

    opacity: 0.7;
}

.button.cancel:hover{
    opacity: 1;
}

/* Header */
header {
    background: var(--primary-color);
    padding: 2rem 0rem 5.5rem;
    text-align: center;
}

#logo {
    margin-top: -2rem;
    height: 200px;
    width: 200px;
}

#logo:hover {
    cursor: pointer;
}

/* Balance */
#balance {
    margin-top: -7rem;
}

#balance h2 {
    color: #fff;
    margin-top: 0;
}

/* Cards */
.card {
    background: #fff;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;

    margin-bottom: 2rem;

    color: var(--dark-gray);
    box-shadow: -4px 2px 5px -1px rgba(0, 0, 0, 0.116);
}

.card h3{
    font-weight: normal;
    font-size: 1.2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.card p {
    font-weight: 600;
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 0.4rem;
}

.card.total {
    background: var(--secondary-color);
    color: #fff;

}

.card.total:hover {
    background: var(--primary-color);
    color: #fff;
    cursor: pointer;

}

/* Table */

#transactions{
    display: block;
    overflow-x: auto;
    width: 100%;
}

#data-table {
    width: 100%;
    border-spacing: 0 0.5rem;
    color: var(--dark-gray);
}

table thead tr th:first-child,
table tbody tr td:first-child{
    border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,
table tbody tr td:last-child{
    border-radius:  0 0.25rem 0.25rem 0;
}

table th {
    background: #fff;
    opacity: 0.6;

    font-weight: 600;
    padding: 1rem 2rem;
    text-align: left;
}

table td{
    background: #fff;
    font-weight: 600;
    padding: 1rem 2rem;
    
}

table tbody tr {
    opacity: 0.7;
    white-space: nowrap;
}

table tbody tr:hover {
    opacity: 0.9;
    cursor: pointer;
}

td.description {
    color: var(--bdark-gray)
}

td.income {
    color: var(--income);
}

td.expense {
    color: var(--expense);
}

/* Modal */

.modal-overlay {
    width: 100%; height: 100%;

    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    background: #f0f2f5;
    padding: 2.4rem;

}

/* Footer */

footer {
    text-align: center;
    background: var(--primary-color);
    padding: 3rem 0 2rem;
    color: #fff;

    left: 0;
    bottom: 0;
    width: 100%;
}

/* Form */

#form {
    max-width: 500px;
}

#form h2 {
    margin-top: 0;
}

input{
    border: none;
    border-radius: 0.2rem;

    padding: 0.8rem;
    width: 100%;
}

.input-group {
    margin-top: 0.8rem;
}

.input-group small {
    opacity: .5;
    padding: 0.5rem;
}

.input-group.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-group.actions .button,
.input-group.actions button {
    width: 48%;
}

/* Responsive */

@media (min-width: 800px) {
    html {
        font-size:87.5%;
    }

    #balance {
        display: grid;
        grid-template-columns: 1fr 1fr 1.5fr;
        gap: 0.5rem;
    }
}
